<div class="cointainer">
    <div class="row">
        <!-- About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/twitterVannucci.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p></p>
                <p>Motivated computer programmer seeking an opportunity to leverage academic knowledge and programming 
                    skills with strong experience in the banking industry. Passionate about software development and eager to contribute 
                    innovative solutions, learn, and grow in a professional development setting. </p>
            </div>            
        </div>
        <!--Latest Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Latest Project</h2>
                <h4>{{latestProject.name}}</h4>               
            </div>
            <carousel>
                <div *ngFor="let picture of latestProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>
            <p class="mt-2">{{latestProject.summary}}</p>
            <p>Visit the portfolio section to learn more!</p>
        </div>
    </div>
</div>